@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@layer base {
  body {
    @apply bg-neutral-50 text-gray-800 font-sans;
  }

  h1, h2, h3 {
    @apply font-bold text-gray-900;
  }
}